body{
    background-color: #748350;
}

h1{
    margin-top: 20px;
}

img{
    display: inline;
    position: absolute;
    width: 200px;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 80%;
    border: 10px solid #2f3c10;
    
}
