body {
    margin: 0;
    padding: 0;
    background-color: rgb(183, 198, 216);
}
.container {
    width: 50rem;
    height: 35rem;
    border: solid black;
    margin-top: 2rem;
    margin-left: 18rem;
    font-size: x-large;
}

.container1 {
    margin-top: 0.1rem;
}
h3 {
    margin-top: 2rem;
    margin-left: 1rem;
    display: inline-block;
}

p {
    margin-top: 2rem;
    margin-left: 0.5rem;
    display: inline-block;
}

img{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-top: 1rem;
  margin-left: 39rem;
  width: 150px;
  display: inline;
  position: absolute;
} 